<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h1 class="fw-bold text-primary mb-4">PHD <span class="text-white">Family Network</span></h1>
                <p>Transforming communities across Uganda through comprehensive programs, sustainable development, and
                    unwavering commitment to positive change.</p>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <h5 class="text-light mb-4">Contact Us</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>Kampala, Uganda</p>
                <p><i class="fa fa-phone-alt me-3"></i>+256 709 658 758</p>
                <p><i class="fa fa-envelope me-3"></i>phdsfamilynetworkinternational@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6" style="margin-left: 40px; position: relative;">
                <h5 class="text-light mb-4">Quick Links</h5>
                <a class="btn btn-link" href="{{ url_for('about') }}">About Us</a>
                <a class="btn btn-link" href="{{ url_for('programs') }}">Our Programs</a>
                <a class="btn btn-link" href="{{ url_for('team') }}">Our Team</a>
                <a class="btn btn-link" href="{{ url_for('contact') }}">Contact Us</a>
                <a class="btn btn-link" href="{{ url_for('donate') }}">Donate</a>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">PHD Family Network International</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    Designed By <a href="https://wa.me/message/VRD6MSALCTFRJ1">Niiwe Clive Jesus</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->